/* Reset styles for error page */
html, body {
    height: 100%;
    margin: 0;
}

body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #fff0f5; /* Default background */
}

.error-screen {
    background-color: blue; /* Set background to blue */
    color: white;
    font-size: 30px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Make sure this takes full viewport height */
}

.valentine-screen {
    background-color: pink;
    color: white;
    font-size: 40px;
    text-align: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Style for the container on the main page */
.container {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
    margin: auto;
}
